*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 400px;
    height: 500px;
    background-color: aquamarine;
    margin: 10px 130px; 
}
.card{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    background: url("./toni.jpg") no-repeat center/cover;
}
.logo{
    text-align: center;
    padding-top: 20px;
}
p{
    text-align: center;
    padding-top: 20px;
}
.btn{
    padding: 10px 35px;
    background-color: dodgerblue;
    color: white;
    border: none;
    margin-left: 120px;
    margin-top: 30px;
}
.box{
    width: 90%;
    height: 80vh;
    transform: translateX(-100px);
    border: 2px solid blue;
}
.div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.lorem{
    width: 500px;
    font-size: 40px;
    line-height: 1;
}
.loho{
    padding-top: 50px;
    padding-left: 10px;
}
.h3{
    padding-top: 50px;
    padding-left: 10px;
}
.jio{
    width: 100%;
    height: 100vh;
   
}
.h6{
    text-align: center;
    color: #555;
    padding-top: 20px;
    font-weight: 500;
}
.hov{
    height: 50vh;
}
.hov1{
    height: 50vh;
    
}
.hov2{
    height: 50vh;
    
}
.hov3{
    height: 50vh;
    
}
.hov4{
    height: 50vh;
    
}
.hov5{
    height: 50vh;
    
}
.hover{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: dodgerblue;
    margin-top: 80px;
    margin-left: 250px;
}

.p{
    font-size: 22px;
    font-weight: 800;
    color: black;
    padding-left: 90px;
}

.circle1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aquamarine;
    margin: 80px auto;
}

.p1{
    font-size: 22px;
    font-weight: 800;
    color: black;
    transform: translateY(-100px);
}

.circle2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:   blue;
    margin: 80px auto;
   
}

.p{
    font-size: 22px;
    font-weight: 800;
    color: black;
    transform: translateY(-100px);
}

.circle4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: brown;
    margin: 80px auto;
    margin-top: 80px;
    margin-left: 250px;
}

.p2{
    font-size: 22px;
    font-weight: 800;
    color: black;
    transform: translateY(-100px) ;
    margin-left: 100px;
}

.circle5{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    margin: 80px auto;
}

.p{
    font-size: 22px;
    font-weight: 800;
    color: black;
    transform: translateY(-100px);
}

.circle6{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: 80px auto;
}

.p{
    font-size: 22px;
    font-weight: 800;
    color: black;
    transform: translateY(-100px);
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.collection{
    display: flex;
    list-style: none;
    padding: 0 10%;

}
.item{
    margin-left: 30px;

}
nav i{
}
.kotta{
    width: 100%;
    height: 50vh;
}
.chilk{
    text-align: center;
    padding-top: 20px;
}
.lor{
    width: 600px;
    margin: auto;
}
.lori{
    text-align: center;
    padding-top: 20px;
}
.parent{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.dev1{
    height: 70vh;
    width: 600px;
    background: url("./image\ 2.png") no-repeat center/contain;
}
.dev2{
    height: 70vh;
    width: 600px;
    background: url("./image\ 3.png") no-repeat center/contain;
    transform: translateX(-200px);

}
.dev3{
    height: 70vh;
    width: 600px;
    background: url("./image\ 4.png") no-repeat center/contain;
    transform: translateX(-400px);
}
.sel{
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    
}
body{
    min-height: 500vh;
}
.nav{
    margin-left: 100px;
}




